<article class="main__article">
  <section>
    <h3>Unsere Arbeitsweise</h3>
    <h1>Marktg&auml;rtnerei</h1>
    <img src="images/beete.jpg"
         alt="Beete mit jungen Gemüsepflanzen"
         class="content__image">
    <p>Unsere Marktgärtnerei ist ein kleiner Gemüsebetrieb, mit einem halben Hektar Fläche, in dem mit sehr viel
      Handarbeit, einer ausgeklügelten Fruchtfolge und ohne den Einsatz schwerer Maschinen ein sehr hoher
      Gemüseertrag erwirtschaftet wird.</p>
    <p>Marktgärtnereien existieren schon seit Mitte des 19. Jahrhunderts. Beispielsweise wurde ganz Paris früher
      durch Gärten, die sich wie ein Ring um die Stadt zogen, mit Gemüse versorgt.</p>
    <p>Wir lieben was wir tun! Und da wir aus voller Überzeugung hinter unserer Natur stehen, arbeiten wir nach
      dem
      Prinzip der regenerativen Landwirtschaft. Hierbei wird der Boden, und insbesondere das Bodenleben in den
      Mittelpunkt der Bemühungen gestellt und langfristig Humus aufgebaut.</p>
    <p>Denn der Boden ist unser Kapital. Mit einem sehr guten Boden, ist ein hoher Ernteertrag und gesundes Gemüse
      ohne den Einsatz chemischer Dünger und synthetischer Pflanzenschutzmittel möglich. Wir arbeiten daher
      konsequent mit Kompost, Pflanzenstärkungsmitteln und einer Mulchdecke aus organischen Materialien – nach dem
      Vorbild der Natur. </p>
    <p>Unser Ziel ist es den Gemüseanbau zurück in die Gemeinde zu bringen, und so die lokale Grundversorgung mit
      gesunden Lebensmitteln zu stärken. Dies schont auch das Klima, da wir keine langen Transportwege haben. </p>
    <p>Zudem sind wir der Meinung, jedes Dorf braucht seine eigene Marktgärtnerei, um einen Grundstock an
      frischem,
      saisonalem und vor allem lokalem Gemüse zur Verfügung zu haben. Denn eine soeben aus dem Boden gezogene
      Karotte, eine sonnenwarme Tomate direkt von der Pflanze und ein knackiger Salat direkt vom Feld, ist einfach
      lecker.</p>
  </section>
  <section>
    <h2>Gemüsekisten-Abo</h2>
    <img src="images/gemuesekiste.jpg"
         alt="Korb mit Gemüse"
         class="content__image">
    <p>Von Anfang Mai bis Ende November hast du die Möglichkeit 1 x pro Woche eine Gemüsekiste von uns zu bekommen.
      Hierfür können Jahresabos abgeschlossen werden, mit monatlicher oder jährlicher Zahlung. </p>
    <p>Je nach Wetterlage behalten wir uns vor, den Termin der 1. Gemüsekiste 2-3 Wochen vorzulegen oder nach hinten
      zu schieben. Den Start geben wir rechtzeitig über Email bekannt. Du erhältst in jedem Fall 32 Wochen lang eine
      Kiste.</p>
    <p>Wir bauen über das Jahr verteilt circa 35 Gemüsesorten an:</p>
    <ul>
      <li>Wurzelgemüse (Radieschen, Karotten, Rote Beete, Rettich, Mairübe)</li>
      <li>Kohlgemüse (Kohlrabi, Weißkohl, Rotkohl, Spitzkohl, Blumenkohl, Brokkoli, Wirsing, Grünkohl)</li>
      <li>Blatt- und Stielgemüse (Schnittsalat, Kopfsalat, Eisbergsalat, Zuckerhut, Feldsalat, Spinat, Mangold,
        Fenchel, Sellerie)</li>
      <li>Zwiebelgemüse (Frühlingszwiebel, Lauch</li>
      <li>Fruchtgemüse (Paprika, Tomaten, Auberginen, Gurken</li>
      <li>Hülsenfrüchte (Zuckerschoten, Bohnen)</li>
    </ul>
    <p>Alle diese Gemüsesorten und das ein oder andere fast vergessene Gemüse, sowie ein paar Spezialitäten (lass
      dich überraschen &#128578;) landen irgendwann in der Saison in Deiner Kiste. </p>
    <p>Wir sind bestrebt deine Gemüsekiste gut und abwechslungsreich zu füllen, so sind in unserer Kiste 6 – 8
      verschiedene Gemüsesorten enthalten. Sie ist ausgelegt für 1 - 2 Personen. Unsere Familienkiste beinhaltet
      Gemüse für 3-4 Personen.</p>
  </section>
  <section>
    <h4>Beispielkisten Mai:</h4>
    <img src="images/gemuesekorb.jpg"
         alt="Holzkiste mit Gemüse"
         class="content__image"
         id="veggieBox__exampleImage">
    <div class="flexSection">
      <div class="veggieBox">
        <h5>Standardkiste (1-2 Personen)</h5>
        <ul>
          <li>1 Bund Radiesschen</li>
          <li>1 Bund Karotten</li>
          <li>1 Salat</li>
          <li>2 Rote Beete</li>
          <li>1 Bund Frühlingszwiebel</li>
          <li>2 Rettich</li>
          <li>2 Kohlrabi</li>
        </ul>
      </div>
      <div class="veggieBox">
        <h5>Familienkiste (3-4 Personen)</h5>
        <ul>
          <li>2 Bund Radiesschen</li>
          <li>2 Bund Karotten</li>
          <li>2 Salat</li>
          <li>4 Rote Beete</li>
          <li>2 Bund Frühlingszwiebel</li>
          <li>3 Rettich</li>
          <li>4 Kohlrabi</li>
        </ul>
      </div>
    </div>
    <h4>Beispielkisten Juli:</h4>
    <div class="flexSection">
      <div class="veggieBox">
        <h5>Standardkiste (1-2 Personen)</h5>
        <ul>
          <li>1 Bund Karotten</li>
          <li>1 Salat</li>
          <li>1 Zucchini</li>
          <li>3 Paprika</li>
          <li>250 g Zuckerschoten</li>
          <li>250 g Bohnen</li>
          <li>1 Gurke</li>
          <li>500 g Tomaten</li>
        </ul>
      </div>
      <div class="veggieBox">
        <h5>Familienkiste (3-4 Personen)</h5>
        <ul>
          <li>2 Bund Karotten</li>
          <li>2 Salat</li>
          <li>2 Zucchini</li>
          <li>5 Paprika</li>
          <li>500 g Zuckerschoten</li>
          <li>500 g Bohnen</li>
          <li>2 Gurke</li>
          <li>1 kg Tomaten</li>
        </ul>
      </div>
    </div>
    <h4>Beispielkisten Oktober:</h4>
    <div class="flexSection">
      <div class="veggieBox">
        <h5>Standardkiste (1-2 Personen)</h5>
        <ul>
          <li>1 Bund Radiesschen</li>
          <li>1 Bund Karotten</li>
          <li>1 Salat</li>
          <li>1 Kohlrabi</li>
          <li>2 Mairüben</li>
          <li>1 Rotkohl</li>
          <li>1 Lauch</li>
          <li>300 g Spinat</li>
        </ul>
      </div>
      <div class="veggieBox">
        <h5>Familienkiste (3-4 Personen)</h5>
        <ul>
          <li>2 Bund Radiesschen</li>
          <li>2 Bund Karotten</li>
          <li>2 Salat</li>
          <li>2 Kohlrabi</li>
          <li>4 Mairüben</li>
          <li>1 Rotkohl</li>
          <li>1 Lauch</li>
          <li>500 g Spinat</li>
        </ul>
      </div>
    </div>
    <p>Wenn du ein Gemüse überhaupt nicht magst, hast du vor Ort die Möglichkeit über eine Tauschkiste
      entsprechendes zu tauschen.</p>
    <p>Immer Donnerstags von 16.00 – 19.00 Uhr kann das Gemüse direkt am Feld abgeholt werden. </p>
  </section>
  <section>
    <h2>Jungpflanzen Anzucht</h2>
    <img src="images/anzucht.jpg"
         alt="Junge Pflanzen in Anzuchttöpfen"
         class="content__image">
    <p>Alle unsere Pflanzen sähen, bzw. ziehen wir selbst vor. So können wir dir genau sagen welche Sorte sich in
      deiner Kiste befindet. </p>
    <p>Wir nutzen ausschließlich samenfeste Sorten. So ist es uns möglich, eigenes Saatgut zu gewinnen und auf
      unseren Standort angepasste Pflanzen zu ziehen.</p>
    <p>Wir verkaufen von allen unseren Pflanzen auch Jungpflanzen über das ganze Jahr, so kannst du von deiner
      Lieblingssorte auch welche in deinen Garten pflanzen.</p>
    <p><strong>ACHTUNG:</strong> Die großen Plastik 10er Töpfe (Tomaten, Gurken, Melonen, Erdbeeren, etc.) nehmen
      wir zurück und
      benutzen sie nochmal, um Plastikmüll zu reduzieren. </p>
    <p>Unser Saatgut beziehen wir hauptsächlich von Bingenheimer und Reinsaat. Spezialitäten gerne auch mal von
      Dreschflegel und Sativa.</p>
  </section>
  <section>
    <h2>FAQ</h2>
    <img src="images/lukeFolientunnel.jpg"
         alt="Unser Sohn Luke bei der Gartenarbeit im Folientunnel"
         class="content__image">
    <h5>Muss ich auf dem Feld mithelfen?</h5>
    <p>Nein du musst nicht mithelfen, wir kümmern uns um den Anbau und die Ernte, du dich ums Essen.</p>
    <h5>Darf ich auf dem Feld mithelfen?</h5>
    <p>Bei uns gibt es immer was zu tun, sprich uns einfach an.</p>
    <h5>Mir schmeckt ein Gemüse nicht.</h5>
    <p>Du hast vor Ort die Möglichkeit über eine Tauschkiste entsprechendes zu tauschen. Wir sorgen für ausreichend
      Tauschmaterial, falls doch mal nichts mehr da sein sollte – sprich uns an.</p>
    <h5>Mir schmeckt die Sorte nicht.</h5>
    <p>Da wir unsere Pflanzen alle selbst vorziehen, haben wir von (fast) jeder Kultur mehrere Sorten zur Auswahl.
      Sprich uns an, wir finden schon eine Sorte die dir schmeckt.</p>
    <h5>Ich kann an dem Abholtermin nicht.</h5>
    <p>Kein Problem, wir schauen ob wir eine Lösung finden, sprich uns an.</p>
    <h5>Ich brauche einen Salat für heute Abend.</h5>
    <p>Du kannst gerne vorbei kommen und dein Gemüse direkt am Feld aussuchen und kaufen.</p>
    <h5>Ich würde gern ein Praktikum bei euch machen.</h5>
    <p>Finden wir super und immer gerne. Sprich uns an, wir freuen uns auf dich!</p>
    <h5>Ich bin Kindergärtner/in, Lehrer/in, Sozialpädagoge/in.</h5>
    <p>Du hast ein Projekt oder willst ein Projekt mit Kindern machen. Wir auch! Sprich uns an!</p>
  </section>
</article>