<article class="main__article">
  <section>
    <h1>Gemüsekisten-Abo</h1>
    <ul>
      <li>Natürliche Lebensmittel</li>
      <li>Traditionelle Sorten &amp; Raritäten</li>
      <li>Direkt vom Feld</li>
      <li>Faire Preise</li>
      <li>Lokaler Familienbetrieb</li>
    </ul>
    <h5 style="margin-top: 2.4rem;">...so schmeckt der Kleine Odenwald!</h5>
    <a href="/vorbestellen"
       class="button button--attention">Jetzt vorbestellen</a>
    <a href="/gartengemuese"
       class="button">Mehr Infos</a>
  </section>
</article>