<article class="main__article">
  <section>
    <h1>Gemüsekisten-Abo</h1>
    <ul>
      <li>Traditionelle Sorten</li>
      <li>Raritäten</li>
      <li>Hochwertige Lebensmittel</li>
      <li>Regional</li>
      <li>Faire Preise</li>
      <li>Familienbetrieb</li>
      <li>"Gläserner Betrieb"</li>
      <li>Direkt vom Erzeuger</li>
    </ul>
    <a href="#"
       class="button button-attention">Jetzt vorbestellen</a>
    <a href="/gartengemuese"
       class="button">Mehr Infos</a>
  </section>
</article>