<article class="main__article">
  <section>
    <h1>Landschaftspflege</h1>
    <img src="/images/baum.jpg"
         alt="Landschaft in der Gemeinde Schönbrunn"
         class="content__image">
    <p>Nach dem Bundesnaturschutzgesetz sind Natur und Landschaft auf Grund ihres eigenen Wertes und als Grundlage
      für
      Leben und Gesundheit des Menschen zu schützen. Hierbei geht es auch um die Verantwortung für
      künftige Generationen.
    </p>
    <p>Insbesondere geht es um die dauerhafte Sicherung
    <ul>
      <li>der biologischen Vielfalt,</li>
      <li>der Leistungs- und Funktionsfähigkeit des Naturhaushalts</li>
      <li>der Vielfalt, Eigenart und Schönheit, sowie des Erholungswerts von Natur und Landschaft.</li>
    </ul>
    </p>
    <p>Der Schutz umfasst auch die Pflege, Entwicklung und gegebenenfalls Wiederherstellung von Natur und
      Landschaft.
    </p>
  </section>
  <section>
    <h2>Haager Tal</h2>
    <img src="/images/ziegen2er.jpg"
         alt="Ziegen im Haager Tal"
         class="content__image">
    <p>Das Haager Tal liegt zwischen Haag und Waldwimmersbach und wird vom Wimmersbach durchzogen.
      Hier wird durch eine naturschutzfachliche Pflege mit Beweidung
      eine
      Fläche von rund 15.000 m² offen gehalten. Dadurch entstehen wertvolle Lebensräume für viele Tier- und
      Pflanzenarten.</p>
    <p>
      Auftraggeber ist die Untere Naturschutzbehörde des Landratsamtes Rhein-Neckar-Kreis in Zusammenarbeit mit dem
      Landschaftserhaltungsverband Rhein-Neckar e.V.</p>
  </section>
</article>