<article class="main__article">
  <section>
    <h1>Ziegen &amp; Schafe</h1>
    <img src="/images/ziege.jpg"
         alt="Ziege"
         class="content__image">
    <p>Unsere Ziegen und Schafe leben in Kleingruppen ganzjährig draußen auf Wiesen im Kleinen
      Odenwald.
      Auch die Jungtiere werden auf der Weide geboren und artgerecht von ihren Müttern gesäugt
      und
      aufgezogen.</p>
    <p>
      Unterstände schützen sie bei schlechter Witterung oder vor starker Sonne.
      In den Wintermonaten füttern wir mit Heu von Wiesen aus der Region.
    </p>
  </section>
  <section>
    <h1>Hühner</h1>
    <img src="/images/huhn.jpg"
         alt="Huhn"
         class="content__image">
    <p>Wer einmal Hühner gehalten hat, kann sich meist nur schwer wieder davon trennen.
      Diese charaktervollen Tiere haben auch unsere Herzen im Sturm erobert.
    </p>
    <p>
      Unsere Sundheimer Hühner leben in kleinen Gruppen von 20 bis 50 Tieren mit großzügigem
      Freilauf auf Wiesen im Kleinen Odenwald.</p>
    <p>
      Hennen und Hähne wachsen gemeinsam auf und stammen aus eigener Nachzucht.
      Auch deshalb darf bei uns der Hahn in keiner Herde fehlen.
    </p>
  </section>
  <section>
    <h1>Bienen</h1>
    <img src="/images/bienen.jpg"
         alt="Bienen"
         class="content__image">
    <p>Ohne die Bestäubungsleistung der Bienen würden wir ganzschön alt aussehen!
      Vom leckeren Honig mal ganz abgesehen...</p>
    <p>Die Honigbiene ist leider in der "wilden" Natur nicht mehr lebensfähig.
      Sie benötigt uns Menschen mittlerweile genauso, wie wir sie benötigen.</p>
    <p>Was Bienen sammeln können wir nicht beeinflussen. Wie wir mit ihnen Umgehen aber schon!
      Unsere Bienen werden daher so naturnah wie möglich gehalten.</p>
  </section>
</article>