<h1>Gemüsekisten-Abo</h1>
<form action="/check"
      method="post"
      name="abo"
      class="form">
  <label for="vorname">Vorname</label>
  <input type="text"
         name="vorname"
         id="vorname"
         required>
  <label for="nachname">Nachname</label>
  <input type="text"
         name="nachname"
         id="nachname"
         required>
  <label for="strasse">Straße</label>
  <div><input type="text"
           name="strasse"
           id="strasse"
           required>
    <label for="hausnummer">Nr</label>
    <input type="text"
           name="hausnummer"
           id="hausnummer"
           required>
  </div>
  <label for="postleitzahl">Postleitzahl</label>
  <div>
    <input type="text"
           name="postleitzahl"
           id="postleitzahl"
           required>
    <label for="ort">Wohnort</label>
    <input type="text"
           name="ort"
           id="ort"
           required>
  </div>
  <label for="email">E-Mail</label>
  <input type="email"
         name="email"
         id="email"
         required>
  <label for="telefon">Telefon</label>
  <input type="text"
         name="telefon"
         id="telefon">
  <input type="number"
         name="standardkiste"
         id="standardkiste"
         min="0"
         max="9"
         value="1"
         required>
  <label for="standardkiste">Standardkiste(n)</label>
  <input type="number"
         name="familienkiste"
         id="familienkiste"
         min="0"
         max="9"
         value="0"
         required>
  <label for="familienkiste">Familienkiste(n)</label>
  <input type="checkbox"
         name="datenschutz"
         id="datenschutz"
         value="1"
         required>
  <label for="datenschutz">Die <span onclick="stopPropagation();"><a href="/datenschutz"
         class="datenschutzLink">Datenschutzerklärung</a></span>
    habe ich gelesen und akzeptiere
    sie.</label>
  <div class="form__submitWrapper">
    <input type="submit"
           value="Jetzt vorbestellen"
           class="button button--attention">
  </div>
</form>