<article class="main__article">
  <section>
    <h1>Melanie, Tobias &amp; Luke</h1>
    <img src="/images/melaundtobi.jpg"
         alt="Melanie &amp; Tobias"
         class="content__image">
    <h4>Melanie, die Gemüsegärtnerin</h4>
    <ul>
      <li>Jahrgang 1982</li>
      <li>Dipl. Wirtschaftsinformatikerin</li>
      <li>Klettertrainerin</li>
    </ul>
    <h4>Tobias, der Landschaftspfleger</h4>
    <ul>
      <li>Jahrgang 1981</li>
      <li>Betriebswirt & Kfz-Mechaniker</li>
      <li>Klettertrainer</li>
    </ul>
    <h4>Luke, der Lausbub</h4>
    <ul>
      <li>Jahrgang 2020</li>
      <li>Der eigentliche Chef</li>
      <li>Waschechter Haager</li>
    </ul>
  </section>
</article>