<input type="checkbox"
       id="header__navToggle"
       class="header__navToggle">

<nav class="header__nav">
  <label for="header__navToggle"
         class="header__navToggleButton">
    <span class="header__navToggleButtonBar"></span>
    <span class="header__navToggleButtonBar"></span>
    <span class="header__navToggleButtonBar"></span>
  </label>
  <ul class="header__navUl">
    <li class="header__navLi"
        id="gartengemuese"><a href="/gartengemuese">Gartengemüse</a></li>
    <li class="header__navLi"
        id="landschaftspflege"><a href="/landschaftspflege">Landschaftspflege</a></li>
    <li class="header__navLi"
        id="wir"><a href="/wir">Wir</a></li>
    <li class="header__navLi"
        id="tiere"><a href="/tiere">Tiere</a></li>
    <li class="header__navLi"
        id="verkauf"><a href="/verkauf">Verkauf</a></li>
  </ul>
</nav>